/* ----------------------------------
 * Action menu
 * ---------------------------------- */

menu[role="action"] {
  margin: 0;
  padding: 0;
  width: auto;
  /* border: none;     */
  /* background: none; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8rem;
  max-height: calc(100% - 8rem);
  overflow: auto;
}

menu[role="action"] > button {
  width: calc(100% - 3rem);
  height: 4rem;
  -moz-box-sizing: border-box;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'MozTT', Sans-serif;
  font-weight: normal;
  line-height: 4rem;
  outline: none;
  font-size: 1.4rem;
  color: #fff;
  text-shadow: none;
  text-align: left;
  padding: 0 1rem;
  margin: 0 1.5rem 1rem 1.5rem;
  background: #5f5f5f padding-box;
  border-radius: 0.2rem;
  border: none;
}

menu[role="action"] + div {
   position: fixed;
   height: 7rem;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 0 1.5rem;
   background: url(images/am_pattern.png) repeat scroll left top #2D2D2D;
   border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
}

menu[role="action"] + div > button {
   text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.3);
   color: #333;
   font-weight: 500;
   background: #fafafa url(images/default.png) repeat-x left bottom / auto 100%;
   border: solid 0.1rem #a6a6a6;
   margin-top: 1.5rem;
   text-align: center;
   font-size: 1.6rem;
   width: 100%;
}

/* Press state */
menu[role="action"] > button:active {
  background-color: #006f86;
  color: #333;
  text-shadow: 0 0.1rem 0 rgba(255, 255, 255, 0.25);
}

menu[role="action"] + div > button:active {
  border: solid 0.1rem #008aaa;
  background: #008aaa;
  color: #333;
}

/* Disabled */
menu[role="action"] > button[disabled] {
  background: #4d4d4d;
  color: #333;
  text-shadow: none;
  border: none;
  pointer-events: none;
}
