/* ----------------------------------
* Action icons
* ---------------------------------- */
.action-icon:before {
   background-image: url("images/action_icons.png");
   background-position:  30px 0px;  /* in the middle of nowhere */
   display: block;
   content: "";
   width: 30px;
   height: 30px;
}

.action-icon[role="alarm_stop"]:before { background-position:  0px 0px; }
.action-icon[role="back"]:before { background-position:  0px -30px; }
.action-icon[role="bluetooth"]:before { background-position:  0px -60px; }
.action-icon[role="bluetooth_transfer"]:before { background-position:  0px -90px; }
.action-icon[role="bookmark"]:before { background-position:  0px -120px; }
.action-icon[role="bookmarked"]:before { background-position:  0px -150px; }
.action-icon[role="browser_back"]:before { background-position:  0px -180px; }
.action-icon[role="browser_forward"]:before { background-position:  0px -210px; }
.action-icon[role="calendar_agendaview"]:before { background-position:  0px -240px; }
.action-icon[role="calendar_dayview"]:before { background-position:  0px -270px; }
.action-icon[role="calendar_monthview"]:before { background-position:  0px -300px; }
.action-icon[role="calendar_today"]:before { background-position:  0px -330px; }
.action-icon[role="calendar_weekview"]:before { background-position:  0px -360px; }
.action-icon[role="cancel"]:before { background-position:  0px -390px; }
.action-icon[role="clock_addalarm"]:before { background-position:  0px -420px; }
.action-icon[role="compose"]:before { background-position:  0px -450px; }
.action-icon[role="contacts"]:before { background-position:  0px -480px; }
.action-icon[role="copy"]:before { background-position:  0px -510px; }
.action-icon[role="cut"]:before { background-position:  0px -540px; }
.action-icon[role="delete"]:before { background-position:  0px -570px; }
.action-icon[role="dismisskeyboard"]:before { background-position:  0px -600px; }
.action-icon[role="download"]:before { background-position:  0px -630px; }
.action-icon[role="downloaddark"]:before { background-position:  0px -660px; }
.action-icon[role="editcontact"]:before { background-position:  0px -690px; }
.action-icon[role="email_editlist"]:before { background-position:  0px -720px; }
.action-icon[role="email_flag"]:before { background-position:  0px -750px; }
.action-icon[role="email_forward"]:before { background-position:  0px -780px; }
.action-icon[role="email_markread"]:before { background-position:  0px -810px; }
.action-icon[role="email_markunread"]:before { background-position:  0px -840px; }
.action-icon[role="email_reload"]:before { background-position:  0px -870px; }
.action-icon[role="email_reply"]:before { background-position:  0px -900px; }
.action-icon[role="email_replyall"]:before { background-position:  0px -930px; }
.action-icon[role="email_send"]:before { background-position:  0px -960px; }
.action-icon[role="email_share"]:before { background-position:  0px -990px; }
.action-icon[role="email_sync"]:before { background-position:  0px -1020px; }
.action-icon[role="forward"]:before { background-position:  0px -1050px; }
.action-icon[role="lock"]:before { background-position:  0px -1080px; }
.action-icon[role="menu"]:before { background-position:  0px -1110px; }
.action-icon[role="move"]:before { background-position:  0px -1140px; }
.action-icon[role="new"]:before { background-position:  0px -1170px; }
.action-icon[role="paste"]:before { background-position:  0px -1200px; }
.action-icon[role="search"]:before { background-position:  0px -1230px; }
.action-icon[role="selectall"]:before { background-position:  0px -1260px; }
.action-icon[role="settings"]:before { background-position:  0px -1290px; }
.action-icon[role="sms"]:before { background-position:  0px -1320px; }
.action-icon[role="snooze"]:before { background-position:  0px -1350px; }
.action-icon[role="unlock"]:before { background-position:  0px -1380px; }
.action-icon[role="user"]:before { background-position:  0px -1410px; }
.action-icon[role="ut_airplanemode"]:before { background-position:  0px -1440px; }
.action-icon[role="ut_airplanemode_focused"]:before { background-position:  0px -1470px; }
.action-icon[role="ut_bluetooth"]:before { background-position:  0px -1500px; }
.action-icon[role="ut_bluetooth_focused"]:before { background-position:  0px -1530px; }
.action-icon[role="ut_settings"]:before { background-position:  0px -1560px; }
.action-icon[role="ut_settings_data"]:before { background-position:  0px -1590px; }
.action-icon[role="ut_settings_data_2g_focused"]:before { background-position:  0px -1620px; }
.action-icon[role="ut_settings_data_3g_focused"]:before { background-position:  0px -1650px; }
.action-icon[role="ut_settings_data_4g_focused"]:before { background-position:  0px -1680px; }
.action-icon[role="ut_settings_data_e_focused"]:before { background-position:  0px -1710px; }
.action-icon[role="ut_settings_data_hp_focused"]:before { background-position:  0px -1740px; }
.action-icon[role="ut_settings_data_h_focused"]:before { background-position:  0px -1770px; }
.action-icon[role="ut_settings_data_o_focused"]:before { background-position:  0px -1800px; }
.action-icon[role="ut_settings_focused"]:before { background-position:  0px -1830px; }
.action-icon[role="ut_wifi"]:before { background-position:  0px -1860px; }
.action-icon[role="ut_wifi_focus"]:before { background-position:  0px -1890px; }
.action-icon[role="retract"]:before { background-position:  0px -1920px; }
.action-icon[role="expand"]:before { background-position:  0px -1950px; }
.action-icon[role="confirm"]:before { background-position:  0px -1980px; }
.action-icon[role="mail"]:before { background-position:  0px -2010px; }
.action-icon[role="move_layout"]:before { background-position:  0px -2040px; }
.action-icon[role="earth"]:before { background-position:  0px -2070px; }
.action-icon[role="send_mail"]:before { background-position:  0px -2100px; }
.action-icon[role="hide"]:before { background-position:  0px -2130px; }
.action-icon[role="camera"]:before { background-position:  0px -2160px; }
/* ------- aliases (at jaxo...) ---------  */
/* add is an alias of new                  */
/* back stays the same                     */
/* camera was copied from media_icons      */
/* clear is an alias of hide, added        */
/* close is an alias of cancel             */
/* delete stays the same                   */
/* edit is an alias of compose             */
/* earth has been added                    */
/* expand has been added                   */
/* mail has been added                     */
/* mark is an alias of email_flag          */
/* menu stays the same                     */
/* move is renamed move_layout, added      */
/* ok is an alias of confirm, added        */
/* retract has been added                  */
/* search stays the same                   */
/* send is an alias of send_mail, added    */
/* share is an alias of email_share        */
/* update is an alias of email_sync        */
/* user stays the same                     */
.action-icon[role="add"]:before { background-position:  0px -1170px; }
.action-icon[role="clear"]:before { background-position:  0px -2130px; }
.action-icon[role="close"]:before { background-position:  0px -390px; }
.action-icon[role="edit"]:before { background-position:  0px -450px; }
.action-icon[role="mark"]:before { background-position:  0px -750px; }
.action-icon[role="ok"]:before { background-position:  0px -1980px; }
.action-icon[role="send"]:before { background-position:  0px -2100px; }
.action-icon[role="share"]:before { background-position:  0px -990px; }
.action-icon[role="update"]:before { background-position:  0px -1020px; }
