html, body {
  font-size: 10px;
  padding: 0;
  margin: 0;
  min-width: 100rem;
  font-family: "Open Sans", sans-serif;
  /* background-color: #3E4449 */
  background-image: url("../style/images/pattern.png");
  background-color: #35393b;
}

table#main {
   margin: auto;
   width: calc(100% - 20px);
   border-collapse: separate;
   table-layout: fixed;
}
table#main td {
   background-color: #5F6268;
}
table#main tr.sepa td {
   background-color: transparent;
   height:0.5rem;
}
table#main tfoot tr td {
   background-color: transparent;
   color:white;
   text-align:right;
   font-size:0.9rem;
}
table#main td[disabled] {
   opacity: 0.20;
}
table.sliders {
   border-collapse: collapse;
   width: 100%;
}
.sliders tr {
   height: 4rem;
   border-bottom: solid 0.1rem #202020;
}
.sliders tr:last-child {
   border-bottom: none; /* UU */
}
/* .sliders tr:nth-child(odd) {  */
/*    background-color:#B0B0B0;  */
/* }                             */
.sliders tr:first-child td:nth-child(odd) {
   border-left: none;
   padding: 0;
}
.sliders tr:first-child td:nth-child(even) {
  border-left: solid 0.1rem #202020;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 1rem;
}
.sliders td:nth-child(odd) {
  border-left: solid 0.1rem #202020;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 1rem;
}
.sliders tr:first-child td:first-child[rowspan="5"] {
   text-align:center;
   min-width:38rem;
}
.sliders tr:first-child td:first-child {
   border: none;
}
.sliders td span {
   font-weight:normal;
   font-size:1.2rem;
}
label {
   font-size: 1rem;
   font-weight: bold;
}
.vsliders div {
  padding:0.2 1rem;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  display:inline;
}
.sliders input {
   color:green;
   margin: 0;
}
.sliders .vsliders input {
  padding:0 0.05rem;
  width: 0.15rem;
  height: 18rem;
  margin: 0;
  /* -moz-transform: rotate(270deg) scale(1.0, 0.5); */
}
#vertVal {
   position:absolute;
   top:-0.2rem;left:0;
   font-size:1.4rem;
   color:red;
}
table #vignetteParams {
   margin-left: -2rem;
}
table #vignetteParams tr {
   height: 1.2rem;
   border:none;
}
table #vignetteParams td {
   padding: 0;
   border:none;
   font-size:0.8rem;
   color:black;
}
table #vignetteParams td input {
   margin: 0 0 0 0.4rem;
   width: 12.5rem;
}
