ul.menu {
   font-size: 13.5px;
   margin: 0;
   padding: 0;
   /* list-style: none; */
}
ul.menu li {
   display: block;
   position: relative;
   float: left;
   text-decoration: none;
   color: #303030;
   padding: 3px 5px;
   background:-moz-linear-gradient(top,#F8F8F8 0%,#B0B0B0 100%);
   margin-left: 8px;
   white-space: nowrap;
   border: 1px solid #B0B0B0;
   border-radius: 4px;
}
ul.menu li:hover {
   border-color: #fb9267;
}
ul.menu li:active {
   padding-left:6px;
   padding-right:4px;
   background:-moz-linear-gradient(top,#B0B0B0 0%,#F8F8F8 100%);
   border-color: #fb9267;
}
ul.menu li.sepa {
   padding:0;
   height:1px;
   margin: 2px 0;
   border: none;
   background: url(graypoint.png) repeat-x;
}
ul.menu li[class="sepa"]:hover {
   background-color:blue !important;
}
ul.menu li ul {
   display: none;
   padding-left: 0;
   text-align: left;
   position: absolute;
   background:#E0E0E0;
   border-top: 1px solid #F0F0F0;
   border-left: 1px solid #F0F0F0;
   border-bottom: 1px solid #707070;
   border-right: 1px solid #707070;
   border-radius: 0.3rem;
   z-index: 0;
}
ul.menu li:hover ul {
   z-index: 1;
   display: block;
}
ul.menu li ul li, ul.menu li:hover ul li:active {
   float: left;
   margin-left: 0;
   padding: 2px 0 2px 0;
   width:calc(100% - 2px);
   min-width:80px;
   border-radius: 0;
   border-style: none;
   background:none;
   font-size: 14px;
}
ul.menu li:hover ul li:hover {
   color:white;
   background: #fb9267;
}
ul.menu li:hover ul li:active {
   background: #cc653b
}
