.carousel {
  position: absolute;
  bottom: 5rem;
  left: calc(50% - 150px);
  margin: 0;
  border: none;
  perspective: 1200px;
}

.carousel div {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel div figure {
  display: block;
  position: absolute;
  left: 0px;
  /* border: 2px solid rgba(255, 0, 0, 0); */
  border none;
  font-weight: bold;
  color: #101010;
  text-align: center;
  backface-visibility: hidden;
  margin: 0;
}

.carousel div figure iframe {
  display: block;
  border: 0;
  width: 300px;
  height: 50px;
}
