.invisible {
  visibility: hidden;
}

.body header {
  background-image: url("images/dark_header.png");
  top:-5rem;
}

.body {
  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;
  bottom: 0rem;
  opacity: 0;
/*UU transition: opacity 0.2s; */
  z-index: -1;
  border: none;
}

.body[aria-expanded=true] {
   opacity: 1;
   z-index: 1;
}

.message {
   position:absolute;
   width: 100%;
   top:-150%;
   height:100%;
   display:table;
   z-index:2;
   /* visibility: hidden; */
}
.message > div:first-child {
   display:table-cell;
   vertical-align:middle;
   padding: 0 6rem;
}
.message > div:first-child > div:first-child {
   display:table-cell;
   background-color: #C2C5CA;
   opacity: 0.90;
   font-size:1.4rem;
   border: none;
}
.message > div:first-child > div:first-child > table {
   width:100%;
   padding:0;
   border-collapse: collapse;
}
.message > div:first-child > div:first-child > table tr:first-child {
   background:-moz-linear-gradient(top,#222b2d 0%,#000000 100%);
   background:-webkit-linear-gradient(top,#222b2d 0%,#000000 100%);
   /* background:-o-linear-gradient(top,#222b2d 0%,#000000 100%);     */
   /* background:-ms-linear-gradient(top,#222b2d 0%,#000000 100%);    */
   /* background:linear-gradient(top,#222b2d 0%,#000000 100%);        */
}
.message > div:first-child > div:first-child > table tr:first-child > td:first-child {
   position: absolute;
   padding: 1rem 2rem 0rem 0rem
}
.message > div:first-child > div:first-child > table tr:first-child > td:first-child img {
   margin: 0;
   padding: 1rem 0 1rem 0
}
.message > div:first-child > div:first-child > table tr:first-child > td:first-child img:active {
   background-color: #0095dd;
   color: #555;
}
.message > div:first-child > div:first-child > table tr:first-child > td:nth-child(2) {
   padding-left: 3rem
}
.message > div:first-child > div:first-child > table tr:first-child > td:nth-child(3) {
   width:99%;
   color:#e7e7e7;
   font-size:1.5rem;
   font-weight:bold;
   text-align:center
}
.message > div:first-child > div:first-child > table tr:first-child > td:nth-child(4) {
   padding-right:3.2rem;
}
.message > div:first-child > div:first-child > table tr:first-child > td:nth-child(5) {
   position:absolute;
   margin:1rem -0.2rem 0rem -3.2rem
}
.message > div:first-child > div:first-child > table tr:first-child > td:nth-child(5) img {
   margin:0;
   padding:1rem 0 1rem 0
}
.message > div:first-child > div:first-child > table tr:first-child > td:nth-child(5) img:active {
   background-color: #0095dd;
   color: #555;
}

.progress {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 50%;
  top: 50%;
  z-index: 5;
  visibility: hidden;
}

progress {
  background: url(images/progress.png) no-repeat center center / 100% auto;
  animation: 0.9s rotate infinite steps(30);
  width: 5.8rem;
  height: 5.8rem;
  border: none;
  position: relative;
  top: -2.9rem;
  left: -2.9rem;
}

progress::-moz-progress-bar {
  background: none;
}

@keyframes rotate {
  from { transform: rotate(1deg); }
  to   { transform: rotate(360deg); }
}

.buttonLike {
  -moz-appearance: button;
  /* -webkit-appearance: button; */
  /* appearance: button; */
  display: inline-table;
  /* outline: transparent; */
  padding: 0 1.5rem;
  margin: 1rem;
  line-height: 3.8rem;
  text-decoration: none;
  vertical-align: top;
  color: ButtonText;
  font-family: "MozTT", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#albumList li {
  /* border-bottom: solid 1px #445; */
  height: 3.7rem;
  margin: 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
#albumList li div {
   display:inline-block;
   vertical-align: top;
   position: absolute;
   line-height: 1.4rem;
   padding-top:0.1rem;
   left: 4.5rem;
   right: 2rem;
   overflow-x: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   min-height: 2rem;
}
#albumList li img {
   border: 1px solid #333;
   width: 3rem;
   position: absolute;
   clip: rect(0, 3.2rem, 3rem, 0);
}

/*-- Styles specific to jaxogram --*/

/* Alas, FF 17 does not implement it yet...   */
/* So, I did a JS work-around: fitImages()    */
/* .imgbox tr td img {                        */
/*    width: 100%;                            */
/*    height:100%;                            */
/*    object-fit:contain;                     */
/*    -moz-object-fit:contain;                */
/*    -ms-object-fit:contain;                 */
/*    -o-object-fit:contain;                  */
/*    -webkit-object-fit:contain;             */
/* }                                          */

#mn1 img {
   position: relative;
   top: 0.3rem;
   margin-right: 0.7rem;
   height: 2rem;
}

#mn1 ul img {
  position: relative;
  top: 0.3rem;
  margin: 0 0.5rem 0 2.7rem;
  height: 1.8rem;
}

/* ------ Page 1 ------*/
#p1 {
   text-shadow:#aaa 0px 1px 0, #000 0 -1px 0;
}

.user {
  overflow: hidden;
  margin: 0rem;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  height: 4rem;
  color: #c0c0c0;
  border-bottom: 1px solid transparent;
  font-size: 1.4rem;
  /* -moz-transition: height 500ms; */
}

#p11 {
  float: left;
  margin-right: 1rem;
  height: 3.5rem;
}

#p12 {
  margin-right: 0.5rem;
  float: right;
}

.banner {
   /* position: absolute; */
   width: 100%;
   text-align: center;
   font-size: 2rem;
   color: white;
   padding: 0rem 2rem;
   margin: 1.5rem 0 5rem 0;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}
#p15 {
    position: absolute;
    width: 10rem;
    height: 8rem;
    right: 1rem;
    bottom: 4.5rem; /* reduced: 0rem; */
}
#p16 {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.1rem;
    color: white;
}

/* ------ Page 2 ------*/
.imgbox {
  display: block;
  position: absolute;
  top: 2px;
  bottom: 3px;
  left: 0;
  right: 0;
  text-align: center;
  /* either width:100%; or height:100%; */
  z-index: -1;
}

.imgbox img {
   position: relative;
}

#p21 {
  position: relative;
  float: right;
  right: 0.5rem;
  bottom: 2.2rem;
  color: #909090;
  background-color: rgba(60, 60, 60, 0.4);
  font-size: 1.3rem;
}

.textbox {
   white-space: pre-wrap;
   border: none;
   margin: auto;
   width: calc(100% - 8rem);
   height: 1.7rem;
   padding: 0.5rem 4rem 0.5rem 4rem;
   background-color: rgba(60, 70, 72, 0.8);
   resize: none;
   word-wrap: break-word;
   text-align: left;
   font-family: "MozTT", sans-serif;
   font-size: 1.4rem;
   /* font-weight: bold; */
   overflow: hidden;
   color:#F0F0F0;
}

span.type1 {
   color: white;
   background-color: #944d00;
   font-size: 1.8rem;
   font-weight: bold;
   text-shadow: none;
}

