html, body {
  font-size: 10px;
  width: 100%;
  /* height: 100%;  bouh */
  padding: 0;
  margin: 0;
  font-family: "MozTT", sans-serif;
  background-image: url("images/pattern.png");
  overflow: hidden;
  /* -moz-user-select: none; */
}

header {
  background-repeat: repeat-x;
  color: #FFFFFF;
  height: 5rem;
  z-index: 1;
}

.principal > header {
  background-image: url("images/header.png");
}

.invisible {
  visibility: hidden;
}

.body header {
   width: 100%;
   display: inline-block;
   border-bottom: 0.1rem solid #616262;
   -moz-box-sizing: border-box;
   position:fixed;
   top:0;
   height:5rem;
   left:0;
   right:0;
   background: url('images/am_pattern.png') repeat scroll left top,
   url('images/am_gradient.png') no-repeat scroll left top / 100% 100% transparent;
}

.sidebar header {
  background-image: url("images/header2.png");
}

header:after {
  content: "";
  position: absolute;
  width: 100%;
  background: #222323;
  height: 0.1rem;
  left: 0;
  top: 5rem;
}

header h1 small {
  font-size:1.2rem;
  text-shadow:none
}

header > div {
  display:inline-block;
}

header > div:active > span {
  background-color: #0095dd; /* was e66000 */
}

header > div > span {
  background: url("images/mainsepa.png") no-repeat scroll right top rgba(0, 0, 0, 0.25);
  display:block;
  margin: 0rem 2.6rem 0rem -0.6rem;
  padding: 1rem 0rem 0.8rem 0.2rem;
  z-index: -1;
}

header h1, header h2 {
  display: inline;
  margin: 0;
  font-weight: normal;
  height: 5rem;
  padding: 0 0 0 1rem;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header div + h1, header div + h2 {
  margin-left: -2rem;
  position: relative;
  top: -0.8rem;
}

header h1 {
   font-size: 2.3rem;
}
header h2 {
   font-size: 1.9rem;
   line-height: 4.9rem;
}

header table {
  margin: 0px;
  padding: 0px;
  float: right;
  height: 100%;
  border: none;
  border-collapse: collapse;
}

header td {
  background: url("images/separator.png") no-repeat scroll left top;
  min-width: 3rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  text-align: center;
  width: auto;
  font-size: 1.4rem;
  font-weight: 600;
}

header td img {
  vertical-align: middle;
}

header td:active {
  background-color: #0095dd; /* was e66000 */
}

.principal {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0rem;
  bottom: 0rem;    /* reduced: 4rem; */
/*UU  transition: 0.4s;   */
}

.principal[aria-shrunk=true] {
  left: 80%;
  right: -80%;
}

.sidebar {
   position: absolute;
   left: -80%;
   right: 100%;
   /* top: 5.7rem; */
   top: 0;
   bottom: 4rem;
/*UU   margin-right: 0rem;   */
/*UU   margin-left: 0rem;   */

/*UU   transition: 0.4s;   */
/*UU   overflow-y: auto;   */
   background: url("images/shadow.png") right top repeat-y;
}

.sidebar[aria-expanded=true] {
   left: 0;
   right: 20%;
}

.body {
  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;       /* reduced: 5.6rem; */
  bottom: 0rem;    /* reduced: 0.6rem; */
/* reduced: margin-left: 0.6rem;       */
/* reduced: margin-right: 0.6rem;      */
  opacity: 0;
/*UU transition: opacity 0.2s; */
  z-index: -1;
/* reduced: background-color: #3e4449;                  */
/* reduced: border-left: 1px solid #B0B0B0;             */
/* reduced: border-top: 1px solid #B0B0B0;              */
/* reduced: border-right: 1px solid #808080;            */
/* reduced: border-bottom: 1px solid #808080;           */
/* reduced: border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; */
  border: none;
}

.body[aria-expanded=true] {
   opacity: 1;
   z-index: 1;
}

.message {
   position:absolute;
   width: 100%;
   top:-150%;
   height:100%;
   display:table;
   z-index:2;
   /* visibility: hidden; */
}
.message > div:first-child {
   display:table-cell;
   vertical-align:middle;
   padding: 0 6rem;
}
.message > div:first-child > div:first-child {
   display:table-cell;
   background-color: #C2C5CA;
   opacity: 0.90;
   font-size:1.4rem;
   border: none;
}
.message > div:first-child > div:first-child > table {
   width:100%;
   padding:0;
   border-collapse: collapse;
}
.message > div:first-child > div:first-child > table tr:first-child {
   background:-moz-linear-gradient(top,#222b2d 0%,#000000 100%);
   background:-webkit-linear-gradient(top,#222b2d 0%,#000000 100%);
   /* background:-o-linear-gradient(top,#222b2d 0%,#000000 100%);     */
   /* background:-ms-linear-gradient(top,#222b2d 0%,#000000 100%);    */
   /* background:linear-gradient(top,#222b2d 0%,#000000 100%);        */
}
.message > div:first-child > div:first-child > table tr:first-child > td:first-child {
   position: absolute;
   padding: 1rem 2rem 0rem 0rem
}
.message > div:first-child > div:first-child > table tr:first-child > td:first-child img {
   margin: 0;
   padding: 1rem 0 1rem 0
}
.message > div:first-child > div:first-child > table tr:first-child > td:first-child img:active {
   background-color: #0095dd;
   color: #555;
}
.message > div:first-child > div:first-child > table tr:first-child > td:nth-child(2) {
   padding-left: 3rem
}
.message > div:first-child > div:first-child > table tr:first-child > td:nth-child(3) {
   width:99%;
   color:#e7e7e7;
   font-size:1.5rem;
   font-weight:bold;
   text-align:center
}
.message > div:first-child > div:first-child > table tr:first-child > td:nth-child(4) {
   padding-right:3.2rem;
}
.message > div:first-child > div:first-child > table tr:first-child > td:nth-child(5) {
   position:absolute;
   margin:1rem -0.2rem 0rem -3.2rem
}
.message > div:first-child > div:first-child > table tr:first-child > td:nth-child(5) img {
   margin:0;
   padding:1rem 0 1rem 0
}
.message > div:first-child > div:first-child > table tr:first-child > td:nth-child(5) img:active {
   background-color: #0095dd;
   color: #555;
}

.progress {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 50%;
  top: 50%;
  z-index: 5;
  visibility: hidden;
}

progress {
  background: url(images/progress.png) no-repeat center center / 100% auto;
  animation: 0.9s rotate infinite steps(30);
  width: 5.8rem;
  height: 5.8rem;
  border: none;
  position: relative;
  top: -2.9rem;
  left: -2.9rem;
}

progress::-moz-progress-bar {
  background: none;
}

@keyframes rotate {
  from { transform: rotate(1deg); }
  to   { transform: rotate(360deg); }
}

footer {
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0, 0.75);
  box-shadow: 0px -2px 5px rgba(50, 50, 50, 0.75);
  z-index: 1;
}

footer table {
  table-layout: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height:100%;
  border: none;
  color: white;
  /* border-collapse: collapse; */
}

footer td {
  border: none;
  /* border-top:1px solid #262a2e;   */
  /* border-right:1px solid #4b5157; */
  border-right: 1px solid rgb(0, 0, 0);
  width: 100%;
  margin:0;
  padding:0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

footer td:last-child {
  border:none;
}

footer td:active {
  background-color: #008aaa;
  color: #555;
}

.buttonLike {
  -moz-appearance: button;
  /* -webkit-appearance: button; */
  /* appearance: button; */
  display: inline-table;
  /* outline: transparent; */
  padding: 0 1.5rem;
  margin: 1rem;
  line-height: 3.8rem;
  text-decoration: none;
  vertical-align: top;
  color: ButtonText;
  font-family: "MozTT", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  height: 3.8rem;
  width: 12rem;
  padding: 0;
  font-family: "MozTT", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  display: table;
  margin: auto;
}

button.recommend {
   background-image: url("images/recommend.png");
   border: 0.1rem solid #006E8B;
   max-width: 35rem;
   width: calc(100% - 5rem);
}
button.recommend:active {
    background: none repeat scroll 0 0 / auto 100% #008AAA;
    border-color: #008AAA;
    color: #333333;
}

.menuList {
   position: absolute;
   /* list-style: none; */
   margin: 0;
   padding: 0;
   font-size: 2rem;
   cursor: pointer;
   top: 5.2rem;
   height: calc(100% - 5.2rem);
   width: 100%;
   overflow: auto;
}
.menuList small {
  font-size: 66%;
}
.menuList ul  {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 75%;
  height: 0;
  /* display: none; */
  color: #aaa;
  line-height: 3.1rem;
  background-image: url("images/pattern.png");
  background-color: #61666c;               /* Mobile only */
  transition: height 0.3s ease 0s;
}

.menuList li {
  vertical-align: bottom;
  border-bottom: solid 1px #596068;
  border-right: solid 3px transparent;
  padding: 0 2em 0 0.5em;
  /* padding:0.5em; padding-right: 2em; */
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menuList li:before {
  right: 0.7rem;
  /* top: 0.5rem; */
  padding-bottom: 0;
  width: 3rem;
  height: 3rem;
  line-height:1em;
  position: absolute;
  content: "";
  background: url("images/action_icons.png") no-repeat;
}
.menuList li[role=listbox]:before {
  background-position:  0px -1950px;
}
.menuList li[role=listbox][aria-expanded=true]:before {
  background-position:  0px -1920px;
}
[role=radiogroup] li[aria-selected="true"]:before {
  background-position:  30px /* NONE */
}
[role=radiogroup] li:before {
  background-position: 30px; /* NONE */
}
.addItem {
   padding-left: 3.5rem;
   color: #D0D0D0;
}
.addItem:before {
   background: url("images/action_icons.png") no-repeat 0px -1170px transparent;
   position: absolute;
   left: 0rem;
   width: 3rem;
}
span[role=trasher] {                   /* */
   background: url("images/action_icons.png") no-repeat 0px -570px transparent;
   position: absolute;
   left: 0rem;
   width: 3rem;
   height: 3rem;
   content: "";
}
span[role=trasher]:active {
   background-color: #FC2200;
   color:white;
}
li[aria-selected=true], li[role=listbox] {
   /* color: #eee; */
  color: #fff;
}
.menuList li ul li {
   border: none;
   border-top: solid 1px #54575F;
}
/* .menuList li:hover {               */  /* Desktop only! */
/*   background: rgba(0, 0, 0, 0.50); */
/* }                                  */
.menuList li:active {
  background-color: #0095dd;
  color:#222;
}

#albumList li {
  /* border-bottom: solid 1px #445; */
  height: 3.7rem;
  margin: 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
#albumList li div {
   display:inline-block;
   vertical-align: top;
   position: absolute;
   line-height: 1.4rem;
   padding-top:0.1rem;
   left: 4.5rem;
   right: 2rem;
   overflow-x: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   min-height: 2rem;
}
#albumList li img {
   border: 1px solid #333;
   width: 3rem;
   position: absolute;
   clip: rect(0, 3.2rem, 3rem, 0);
}

/*-- Styles specific to jaxogram --*/

/* Alas, FF 17 does not implement it yet...   */
/* So, I did a JS work-around: fitImages()    */
/* .imgbox tr td img {                        */
/*    width: 100%;                            */
/*    height:100%;                            */
/*    object-fit:contain;                     */
/*    -moz-object-fit:contain;                */
/*    -ms-object-fit:contain;                 */
/*    -o-object-fit:contain;                  */
/*    -webkit-object-fit:contain;             */
/* }                                          */

#mn1 img {
   position: relative;
   top: 0.3rem;
   margin-right: 0.7rem;
   height: 2rem;
}

#mn1 ul img {
  position: relative;
  top: 0.3rem;
  margin: 0 0.5rem 0 2.7rem;
  height: 1.8rem;
}

/* ------ Page 1 ------*/
#p1 {
   text-shadow:#aaa 0px 1px 0, #000 0 -1px 0;
}

.user {
  overflow: hidden;
  margin: 0rem;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  height: 4rem;
  color: #c0c0c0;
  border-bottom: 1px solid transparent;
  font-size: 1.4rem;
  /* -moz-transition: height 500ms; */
}

#p11 {
  float: left;
  margin-right: 1rem;
  height: 3.5rem;
}

#p12 {
  margin-right: 0.5rem;
  float: right;
}

.banner {
   /* position: absolute; */
   width: 100%;
   text-align: center;
   font-size: 2rem;
   color: white;
   padding: 0rem 2rem;
   margin: 1.5rem 0 5rem 0;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}
#p15 {
    position: absolute;
    width: 10rem;
    height: 8rem;
    right: 1rem;
    bottom: 4.5rem; /* reduced: 0rem; */
}
#p16 {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.1rem;
    color: white;
}

/* ------ Page 2 ------*/
.imgbox {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* border: 1px solid #D1D1D1; */
  /* border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; */
  text-align: center;
  /* either width:100%; or height:100%; */
  z-index: -1;
}

.imgbox img {
   position: relative;
}

#p21 {
  position: relative;
  float: right;
  right: 0.5rem;
  bottom: 2.2rem;
  color: #909090;
  background-color: rgba(60, 60, 60, 0.4);
  font-size: 1.3rem;
}

.textbox {
   white-space: pre-wrap;
   border: none;
   margin: auto;
   width: calc(100% - 8rem);
   height: 1.7rem;
   padding: 0.5rem 4rem 0.5rem 4rem;
   background-color: rgba(60, 70, 72, 0.8);
   resize: none;
   word-wrap: break-word;
   text-align: left;
   font-family: "MozTT", sans-serif;
   font-size: 1.4rem;
   /* font-weight: bold; */
   overflow: hidden;
   color:#F0F0F0;
}

span.type1 {
   color: white;
   background-color: #944d00;
   font-size: 1.8rem;
   font-weight: bold;
   text-shadow: none;
}

/* ----------------------------------
 * Action menu
 * Has to appear after, due to collisions with body
 * ---------------------------------- */

.menuaction {
   z-index: 2;
   opacity: 1;
   display: none;
   background-image: url('images/pattern.png');
}

.menuaction menu {
  margin: 0;
  padding: 0;
  width: auto;
  /* border: none;     */
  /* background: none; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8rem;
  max-height: calc(100% - 8rem);
  overflow: auto;
}

.menuaction menu > button {
  width: calc(100% - 3rem);
  height: 4rem;
  -moz-box-sizing: border-box;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'MozTT', Sans-serif;
  font-weight: normal;
  line-height: 4rem;
  outline: none;
  font-size: 1.4rem;
  color: #fff;
  text-shadow: none;
  text-align: left;
  padding: 0 1rem;
  margin: 0 1.5rem 1rem 1.5rem;
  background: #5f5f5f padding-box;
  border-radius: 0.2rem;
  border: none;
}

.menuaction menu + div {
   position: fixed;
   height: 7rem;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 0 1.5rem;
   background: url(images/am_pattern.png) repeat scroll left top #2D2D2D;
   border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
}

.menuaction menu + div > button {
   text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.3);
   color: #333;
   font-weight: 500;
   background: #fafafa url(images/default.png) repeat-x left bottom / auto 100%;
   border: solid 0.1rem #a6a6a6;
   margin-top: 1.5rem;
   text-align: center;
   font-size: 1.6rem;
   width: 100%;
}

/* Press state */
.menuaction menu > button:active {
  background-color: #006f86;
  color: #333;
  text-shadow: 0 0.1rem 0 rgba(255, 255, 255, 0.25);
}

.menuaction menu + div > button:active {
  border: solid 0.1rem #008aaa;
  background: #008aaa;
  color: #333;
}

/* Disabled */
.menuaction menu > button[disabled] {
  background: #4d4d4d;
  color: #333;
  text-shadow: none;
  border: none;
  pointer-events: none;
}
