button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "MozTT", sans-serif;
  background-image: url("images/pattern.png");
  overflow: hidden;
}

* {
   user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
}

button {
    border-radius: 0.3rem;
    color: #333333;
    display: table;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;
    height: 3.8rem;
    margin: auto;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 12rem;
}

button.recommend {
  background-image: url("images/recommend.png");
  border: 0.1rem solid #006E8B;
  max-width: 35rem;
  width: calc(100% - 5rem);
}

button.recommend:active {
  background: none repeat scroll 0 0 / auto 100% #008AAA;
  border-color: #008AAA;
  color: #333333;
}

section.principal > header {
  background-image: url("images/header.png");
  border-bottom: 0.1rem solid #323232;
}
