.progress {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 50%;
  top: 50%;
  z-index: 5;
  visibility: hidden;
}

.progress div {
  background-image: url(images/progress.png);
  animation: 0.9s rotate infinite steps(30);
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  width: 5.8rem;
  height: 5.8rem;
  border: none;
  position: relative;
  top: -2.9rem;
  left: -2.9rem;
}

@keyframes rotate {
  from { transform: rotate(1deg); }
  to   { transform: rotate(360deg); }
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(1deg); }
  to   { -webkit-transform: rotate(360deg); }
}

