fieldset.menu {
   /* background-color:#3E4449; */
   /* border-radius:0.8rem; */
   border: none;
   margin: 0;
   padding-top:0.5rem;
   padding:0;
}
.menu legend {
   font-size:1.3rem;
   font-style: oblique;
   color:#E0E0E0;
   padding:0;
}
.menu ul li.dropdown:active {
   background:none;
}
.menu ul li.dropdown {
   position:relative;
   color: white;
}
.menu li.dropdown:hover {
   background-color: inherit;
}
.menu li.dropdown span {
   /* background-color:#3e4449; */
   padding:0.2rem 1.7rem 0.2rem 0.7rem;
   background-image: url(dwn.png);
   background-position: right 3px top 5px;
   background-repeat: no-repeat;
   margin-right: -10px;
   /* border:1px solid #606060; */
   /* border-radius:0.8rem;     */
}
.menu li.dropdown select {
   font-family: inherit;
   font-size: inherit;
   position:absolute;
   top: 4px;
   left: 6px;
   opacity: 0.01;
}
.menu li.dropdown select:hover {
   opacity:1;
}
/* span.dropdown select > option {  */
/*    background-color: yellow;     */
/* }                                */
.menu li.dropdown select > option:hover {
   background-color: lightgray;
   border:none;
}
.menu ul {
   font-size: 13px;
   margin: 0;
   padding: 0;
   display: inline-block;
   /* list-style: none; */
}
.menu ul li {
   display: block;
   text-align: center;
   position: relative;
   float: left;
   text-decoration: none;
   min-width: 6rem;
   color: #D9E1E8;
   padding: 6px 4px;
   margin: 0;
   white-space: nowrap;
   border-right: 1px solid #606060;
}
.menu ul li[disabled],
.menu ul li[disabled]:hover {
   color: #9DA3A9;
   background-color: inherit;
}
.menu ul li:hover {
   color: #F8F8F8;
   background-color: #4F5257;
   /* background: -moz-linear-gradient(to bottom, #B0B0B0, transparent, #27292B, #27292B, #27292B, transparent, #A0A0A0); */
   /* border-color: #fb9267; */
}
.menu ul li:active {
   background:-moz-linear-gradient(top,#B0B0B0 0%,#F8F8F8 100%);
   /* border-color: #fb9267; */
   color: #202020;
}
.menu ul li.sepa + li {
   border-left: 1px solid #606060;
}

.menu ul li.sepa {
   padding:0;
   height:1px;
   width: 8rem;
   /* margin: 0 1rem; */
   background: none;
}
.menu ul li ul li.sepa {
   margin: 2px 0;
   background: url(graypoint.png) repeat-x;
}
.menu ul li ul {
   display: none;
   padding-left: 0;
   text-align: left;
   position: absolute;
   background:#E0E0E0;
   border-top: 1px solid #F0F0F0;
   border-left: 1px solid #F0F0F0;
   border-bottom: 1px solid #707070;
   border-right: 1px solid #707070;
   border-radius: 0.3rem;
   z-index: 0;
}
.menu ul li:hover ul {
   z-index: 1;
   display: block;
}
.menu ul li ul li, .menu ul li:hover ul li:active {
   float: left;
   margin-left: 0;
   padding: 2px 0 2px 0;
   width:calc(100% - 2px);
   min-width:80px;
   border-radius: 0;
   border-style: none;
   background:none;
   font-size: 14px;
}
.menu ul li:hover ul li:hover {
   color:white;
   background: #fb9267;
}
.menu ul li:hover ul li:active {
   background: #cc653b;
}
